<h3><%= @man.name %></h3>



<div>
<dl>
	<dt>Vida</dt>
		<dd><%= @man.hit_points %> </dd>
	<dt>Ataque</dt>
		<dd><%= @man.damage %> </dd>
	<dt>Victorias</dt>
		<dd><%= @man.kills %> </dd>
	<dt>Derrotas</dt>
		<dd><%= @man.deaths %> </dd>
	</dl>

	</div>
														
