<h1>Hombres</h1>
<p>Lista de Victimas</p>

<ul>
<dl>
	<% for man in @men %>
	<dt><%= man.user.email %> <%= man.name %></dt>
		<dd> Vida = <%= man.hp %>, Poder = <%= man.atk %></dd>
		<ul>
		<% if current_user == man.user %>
			<%= link_to "Entrenar", :controller => "men", :action => "practice", :id => man %>
		<% end %>
	</ul>
	<% end %>

	</dl>
</ul>
