<h1>Hombres</h1>
<p>Lista de Victimas</p>
<%= render "dragons/sidebar" %>

<ul>
<dl>
	<% for man in @men %>
	<dt><%= man.user.email %> <%= man.name %></dt>
		<dd> Vida = <%= man.hit_points %>, Poder = <%= man.damage %></dd>
		<ul>
		<% if current_user == man.user %>
			<%= link_to "Entrenar", practice_man_path(man) %>
		<% end %>
	</ul>
	<% end %>

	</dl>
</ul>
