<h1>Dragones</h1>
<p>Elige tu Atacante</p>
	<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<ul>
<dl>
	<% for dragon in @dragons %>
	<dt><%= dragon.name %></dt>
		<dd> Vida = <%= dragon.hit_points %>, Poder = <%= dragon.damage %> 
				<% if dragon.active? %>
			  <%= "Activo" %>
				<% else %> 
				Espera: <%= dragon.time_until_active %>
				<% end %>
		</dd>
		<dd> <%= @inactivity.to_s %> </dd>
														
		<ul>
		<%= link_to "Entrenar", practice_dragon_path(dragon) %>
		<%= link_to "Pelea",      choose_dragon_path(dragon) %>
	</ul>
	<% end %>

	</dl>
</ul>



<!-- <a href= "dragons/1/practice"/ > practice </a> -->