<h1>Guarida</h1>
<p>Crea un Dragon</p>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  
<%= form_for Dragon.new do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.submit %>
	<% end %>
